body {
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
    padding: 150px 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    color: #7a5655;
}

.button {
    text-align: center;
    color: #7a5655;
    background-color: #fce6e5;
    border-radius: 5px;
    border: solid;
    border-color: #7a5655;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 18px;
    
}

.button:hover {
    background-color: #7a5655; /* Green */
    color: #fce6e5;
    border-color: #fce6e5;
  }

#yesButton {
    position: absolute;
    transition: 0.5s;
    margin-left: -50px;
}

#noButton {
    position: absolute;
}

p.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }
